.button-social {border-radius: 0; font-size:16px }
.button-social:hover {color:#fff;}
.button-github:hover {background-color:#171515; border-color:#171515;} 
.button-facebook:hover{ background-color:#3b5998;border-color:#3b5998;} 
.button-linkedin:hover {background-color:#0077B5; border-color:#0077B5;} 
.button-twitter:hover {background-color:#6CADDE; border-color:#6CADDE;} 
.button-google-plus:hover {background-color:#DC4E41; border-color:#DC4E41;} 
.page{ margin-top:6%}
